<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${contextPath}">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div>
		<h3>전체 사원 조회</h3>
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>사원번호</th>
					<th>이름</th>
					<th>입사일자</th>
					<th>업무</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info, stats : ${emps}"><!-- , stats(이름은 상관없음) : , 두번째 값 => 반복문의 상태값을 가져오게됨. -->
					<!-- 반복하고자 하는 태그 -->
					<!-- /*<tr th:onclick="|location.href='@{/empInfo(employeeId=${info.employeeId})}'|">*/ -->
						<tr>
						<td>[[${stats.count}]]</td> <!-- count 대신 index를 쓰게 되면 첫번째 값이 0으로 출력 -->
						<td th:text="${info.employeeId}"></td>
						<td th:text="${info.firstName}"></td>
						<!-- /*<td>[[${info.hireDate}]]</td>*/ --> <!--/* th:text나 [[]] 둘 다 text 속성을 다루는건 맞지만 [[]] 이걸 더 많이 씀*/-->
						<td>[[${#dates.format(info.hireDate, 'yyyy년 MM월 dd일')}]]</td> <!-- #을 붙이면 내장객체 검색함 -->
						<td>[[${info.jobId}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<script>
	const context = $('meta[name="contextPath"]').attr('value');
	$('tbody > tr').on('click', function(event){
		let tr = event.currentTarget; //target:실제 이벤트가 발생한 대상(고정값), currentTarget: 이벤트가 등록되고 동작되고 있는 대상(유동적)
		let eid = $(event.currentTarget).children().eq(1).text(); //eq : 결과들(시작지점은 0) 
		let url= context + '/empInfo?employeeId=' + eid;
		location.href=url;
	});
	</script>
</body>
</html>