<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>타임리프 테스트</h1>
	<!--/*thymeleaf의 유일한 태그 [[]]*/-->
	<th:block th:each="num : ${#numbers.sequence(1,5)}">
		<!-- sequence가 1~5사이의 정수를 자동생성하는 동안 반복문을 돌리겠다. -->
		<p th:text="${num}" />
	</th:block>
	
	<!-- /* 타임리프 기본방식
	        1) th:속성="${}"
	        2) 링크표현식(개발할때는 프로젝트 경로를 알 수 없기 때문에 사용) : th:src="@{}" or th:href="@{}" or th:action="@{}" */ -->
	<a th:href="@{/empList}" th:text="'전체조회'">전체조회</a> <!-- /* ''를 붙이는 이유 : th를 쓰게되면 java영역에 들어가기 때문에 리터럴 문자형식을 쓰기 위해 */ -->
	<a href="/empList">전체조회</a>
	<hr>
	<p> 사원정보 : [[ ${empInfo} ]]</p><!-- 변수 표현식을 활용해 변수를 불러옴 -->
	<p th:id="${empInfo.employeeId}"
	   th:name="${empInfo.LastName}"
	   th:text="${empInfo.jobId + ', ' + empInfo.departmentId}">	
	</p>
</body>
</html>